/** @format */
body {
  background-image: url(images/background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Anek Devanagari", sans-serif;
  color: #38301f;
  font-weight: 500;
}

.container {
  margin: 120px auto;
  max-width: 800px;
  border-radius: 5px;
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
border-bottom: 1px solid #38301f;
}

h3 {
  font-size: 35px;
  text-align: center;
  line-height: 1.5;
    font-weight: 550;
    color: #416852;
}

h4 {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
    color: #9D3B19;

}

.form-container {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
}

form {
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 70%;
  line-height: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.submit-button {
  margin-left: 15px;
  border-radius: 10px;
  background-color: #9D3B19;
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 16px;
  width: 150px;
  transition: all 150ms ease-in-out;
}

.submit-button:hover {
  background-color: #984f37;
  cursor: pointer;
}

.hint {
  font-size: 14px;
  margin-top: 5px;
  line-height: 1.5;
  margin-left: 10px;
  font-weight: 600;
  color: #416852;
}
.recipe {
  padding: 20px;
  font-size: 18px;
  line-height: 2;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-bottom: 1px solid;
  text-align:justify center;

}

.hidden {
  display: none;
}

footer {
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

footer a {
  text-decoration: none;
  color: #416852;
}

footer a:hover {
  text-decoration: underline #9D3B19;
}

.profile-link {
  font-weight: 700;
  font-size: 16px;
}

.github-icon {
  font-size: 30px;
  transition: all 150ms ease-in-out;
}

.github-icon:hover {
  color: #9D3B19;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  font-size: 25px;
  text-align: center;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
